@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  text-size-adjust: none;
}

@media (width >= 64rem) {
  ::-webkit-scrollbar {
    width: 10px;
    background-color: theme('colors.neutral.200');
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px theme('colors.neutral.950/0.3');
    background-color: theme('colors.neutral.200');
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.82, theme('colors.slate.500')),
      color-stop(0.28, theme('colors.slate.700'))
    );
  }
}
